@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Sen;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    @apply bg-gray-900;
    @apply text-gray-50;
}

#__next {
    width: 100vw;
}

* {
    transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out;
}

@layer utilities {
    .search-appearance-none::-webkit-search-decoration,
    ::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}
